@font-face {
     /*
     google fonts considerd: Amaranth|Antic|Ek+Mukta|Frank+Ruhl+Libre|Nobile|Sarala
                                 experimentals: Julius+Sans+One, Monoton (for name); Carrois Gothic SC ; Averia Serif Libre; Faster One; Chathura 
                                 Cutive Mono
                                 Lateef !!
                     light: palanquin; inder; 
     */
 
     font-family: 'Frank Ruhl Libre';
     src: url('Frank_Ruhl_Libre/FrankRuhlLibre-Medium.ttf');
     /*src: url('Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf')  format('truetype');*/
}

* {
     font-family: 'Frank Ruhl Libre',"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
     display: flex; 
     flex-direction: column; 
     align-items: center;
 
     padding: 0px;
}

i{
     content: attr(data-fallback);
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
}
label{
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
}

br{
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
}

form {
     width: 100%;
}
form input[type="text"]{
     width: 100%;
     text-align: center;
}
form input[type="text"]:focus{
     border-bottom: 1px solid dodgerblue !important;
     box-shadow: 0 1px 0 0 dodgerblue !important; 
}

input[type='checkbox']:not(:checked), 
input[type="checkbox"]:checked{
    opacity: 1;
    position: static;
    left: 0px; 
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 5px;
    padding: 0px;
    
}
input[type='checkbox']:not(:checked):disabled, 
input[type="checkbox"]:checked:disabled{
    opacity: 0.3;
    position: static;
    left: 0px; 
}
input[type='checkbox']:focus{
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
}


a, button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    min-height: 30px;
    text-decoration: none;
    
    border: none;
    background-color: transparent;
}
a, button:hover{
    text-shadow: 1px 1px 0px rgb(193, 193, 193);
}
a, button:disabled{
    cursor: initial;  
    color: rgb(200, 200, 200);
    text-shadow: none;  
}
button:active, button:focus {
    background-color: transparent;
}
a:link, a:visited, a:active{
    color: black;
    user-select: none;
    -webkit-user-select: none;
}


select {
    border: none;
    width: 80%;
    margin: auto;
    text-align: center;
    text-align-last: center;

    -webkit-appearance: none;
    -moz-appearance: none;
}
select:hover{
    cursor: pointer;
}
select:focus, select:active{
    outline: none;
}


h3, h4, h5{
    cursor: initial;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
h4{
     text-align: center;
}

h6{
    cursor: initial;
}

textarea{
    padding: 8px;
}
textarea::placeholder{
    text-align: center;    
}

/* id's */
#mainScreen{
     width: 100%;
     
 
     margin: 0px;
     padding: 0px;
 
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}


#vocab{
     padding-bottom: 30px;
}
 
/*  test screen  */
#testScreen{
     width: 100%
}
 
#testField{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;   
 
     /*border- 1px dashed red;*/
}